__pycache__
.ipynb_checkpoints
data
singleIntersectData1.csv
*.xml

DecisionTreeClassifier.sav
DecisionTreeClassifier2.sav
DecisionTreeClassifier3.sav
DecisionTreeClassifier4.sav
DecisionTreeClassifier5.sav
DecisionTreeClassifier6.sav
DecisionTreeClassifier7.sav
DecisionTreeClassifier8.sav

MLPClassifier.sav
MLPClassifier1.sav

MLPs.sav

MultinomialNB.sav
MultinomialNB1.sav

SVC.sav
SVC1.sav

SVM_model.sav

MLPsDeep,sav